---
- name: Configure host1
  hosts: host1
  tasks:
    - name: Configure static route
      arista.eos.eos_static_routes:
        config:
          - address_families:
              - afi: ipv4
                routes:
                  - dest: 10.120.1.0/24
                    next_hops:
                      - forward_router_address: 10.110.1.1
        state: merged
    - name: Configure Port-Channel
      arista.eos.eos_lag_interfaces:
        config:
          - name: Port-Channel1
            members:
              - member: Ethernet1
                mode: "active"
              - member: Ethernet2
                mode: "active"
        state: merged
    - name: Configure Port-Channel as L3
      arista.eos.eos_interfaces:
        config:
          - name: Port-Channel1
            enabled: true
            mode: layer3
        state: merged
    - name: Configure IP address for L3 interface
      arista.eos.eos_l3_interfaces:
        config:
          - name: Port-Channel1
            ipv4:
              - address: 10.110.1.11/24
        state: merged

- name: Configure host2
  hosts: host2
  tasks:
    - name: Configure static route
      arista.eos.eos_static_routes:
        config:
          - address_families:
              - afi: ipv4
                routes:
                  - dest: 10.110.1.0/24
                    next_hops:
                      - forward_router_address: 10.120.1.1
        state: merged
    - name: Configure Port-Channel
      arista.eos.eos_lag_interfaces:
        config:
          - name: Port-Channel1
            members:
              - member: Ethernet1
                mode: "active"
              - member: Ethernet2
                mode: "active"
        state: merged
    - name: Configure Port-Channel as L3
      arista.eos.eos_interfaces:
        config:
          - name: Port-Channel1
            enabled: true
            mode: layer3
        state: merged
    - name: Configure IP address for L3 interface
      arista.eos.eos_l3_interfaces:
        config:
          - name: Port-Channel1
            ipv4:
              - address: 10.120.1.12/24
        state: merged

- name: Configure IP routing on Spines
  hosts: spines
  tasks:
    - name: Configure IP routing
      arista.eos.eos_config:
        lines:
          - ip routing
