---
- name: Applying only default configlets (Arista labs) for reset
  hosts: cvp1

  vars_files:
    - ../vars/CVP_model.yml

  tasks:
    - name: Apply configlets to devices
      arista.cvp.cv_device_v3:
        devices: "{{ CVP_DEVICES_DEFAULT }}"
        apply_mode: strict
      register: CVP_CHANGE
    - name: Run tasks from previous task
      arista.cvp.cv_task_v3:
        tasks: "{{ CVP_CHANGE.taskIds }}"
    - name: Show CVP_CHANGE formatted
      debug:
        msg: "{{ CVP_CHANGE | to_yaml }}"
    - name: Write CVP_CHANGE output to a file
      copy:
        content: "{{ CVP_CHANGE | to_yaml }}"
        dest: "./Debug_logs/cvp_change_debug.yml"