---
- name: Playbook for uploading configlets to CloudVision
  hosts: cvp1
  vars_files:
    - ../vars/CVP_model.yml
  vars:
    path: "{{ lookup('env', 'PWD') }}"
    repo_root: "{{ playbook_dir | realpath | dirname }}"
  
  tasks:
    
    - name: Load configlets via filter plugin
      set_fact:
        CVP_CONFIGLET: "{{ 'configlets/configs' | get_configlets_v3 }}"

    - name: Print Configlet dict
      debug:
        msg: "{{ CVP_CONFIGLET | to_yaml }}"

    - name: Upload configlets
      arista.cvp.cv_configlet_v3:
        configlets: "{{ CVP_CONFIGLET }}"
        state: present
    
    